  .heading
  {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div
  {
    float: none;
    padding: 10px;
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag 
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;

  }
 .copy_right_footer{
   position: fixed;
   color: white;
   bottom: 0px;
   width: 100%;
   background-color: grey;
   text-align: center;
   line-height: 3;
 }
 .result_para_tag span{
   white-space: pre-line;
 }
 canvas{
   border: 5px solid black;
   border-radius: 20px;
   animation-name: anime;
   animation-duration: 4s;
   animation-iteration-count: infinite;
   margin-top: 250px;
 }
 @keyframes anime{
   from{box-shadow: 1px 1px 38px grey;}
   to{box-shadow: 1px 1px 38px lightcyan;}
 }